@page
@model nma_graphics.Pages.Products.IndexModel
@{
}
<br />
<h2> list of Products</h2>
<a class="btn btn-primary btn-sm" href='/Products/Create'>New Products</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListProducts)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.productdes</td>
                <td align="right">@item.unitprice .00 LKR</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Products/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Products/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>